.buy {
  background: linear-gradient(
    360deg,
    rgba(71, 9, 62, 0.5) -7.14%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: multiply;
  background-size: 100% 60px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding: 40px 0;
  text-align: center;
  &__img {
    width: 100%;
  }
  &__title {
    font-family: 'Merriweather-bold';
    color: #000;
  }
  &__text {
    color: #777777;
  }
  &__img {
    position: relative;
    left: -5%;
  }
  &__button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & .buy__link {
      height: 67px;
      border: 1px solid #47093e;
      border-radius: 33.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      width: 263px;
      transition: all 0.2s ease;
      &:hover {
        background-color: $mainColor;
        color: #fff;
      }
    }
  }
}

@media (min-width: 768px) {
  .buy-wrapper {
    display: flex;
    & .buy__title {
      text-align: left;
    }
    & .buy__text {
      text-align: left;
    }
    & .buy__img {
      left: 0;
    }
    & .buy__button-wrapper {
      flex-direction: row;
      & .buy__link {
        height: 32px;
        width: 140px;
        margin-right: 15px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .buy-wrapper .buy__button-wrapper .buy__link {
    width: 203px;
    height: 41px;
  }

  .buy-wrapper .buy__text {
    max-width: 263px;
  }
}

@media (min-width: 1440px) {
  .buy-wrapper .buy__button-wrapper .buy__link {
    width: 263px;
    height: 61px;
  }

  .buy-wrapper .buy__title {
    font-size: 30px;
  }
  .buy-wrapper .buy__text {
    font-size: 16px;
    line-height: 25px;
  }

  .buy-column {
    min-width: 263px;
  }
}

@media (min-width: 1920px) {
  .buy {
    padding-top: 200px;
  }
}
