@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-light';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../../fonts/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Merriweather-Bold.woff2') format('woff2'),
    url('../fonts/Merriweather-Bold.woff') format('woff');
}
