*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  color: $mainColor;
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: $mainColor;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
